.formContainer{
text-align: center;
display: flex;
flex-direction: column;
    &__formName{

    }
}





// id: 6,
//     name: "pizza6",
//     description: "to jest pizza 6",
//     prices: [12, 25, 34],
//     imgSRc: 
//         pizza6
//     ,
//     category: "pizza",
//     date: "(2021-01-01)"