.footer{
    background-color: white;
    display: flex;
    width: 100vw;
    border-top: 5px solid #782834;
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
    &__left {
        display: flex;
        flex: 7;
    }
    &__right {
        display: flex;
        justify-content: flex-end;
        flex: 10;

       
    }
    &__linkContainer {
        display: flex;
        margin: 10px;
        list-style-type: none;
    }
    &__link {
        margin: 0px 10px
    }
}