.sliderContainer{
    position: relative;
    max-height: 80vh;
    display: flex;
    width: 100vw;
    overflow: hidden;

    &__element{
    height: 100vh;
    width: 100vw;
    position: relative;
    }
    
    &__picture{
        display: flex;
        flex-direction: row;
    }
    &__arrow{
        height: 100px;
        position: absolute;
        top: 35vh;
        cursor: pointer;
    }
    &__leftarrow{
        left: 10vw;
        z-index: 3;
        transform: translateX(-50%);
    }
    &__rightarrow{
        left: 90vw;
        transform: translateX(-50%);
    }
    &__title{
        position: absolute;
        top: 70px;
        margin: 0 auto;
        font-size: 70px;
        left: 50vw;
        transform: translateX(-50%);
        color: white;
    }
    &__description{
        position: absolute;
        bottom: 200px;
        margin: 0 auto;
        font-size: 70px;
        left: 50vw;
        transform: translateX(-50%);
        color: white;
    }

}